body {
  font-family: Roboto, sans-serif;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

#wrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#narrative {
  width: 330px;
  overflow: hidden;
}

#narrative header {
  position: fixed;
  width: 100%;
  padding-left: 20px;
  top: 0;
  background: black;
  color: white;
  margin: 0;
  z-index: 99;
}

#narrative section {
  margin: 200px 0 200px 15px;
}

#nav {
  position: fixed;
  left: 360px;
  top: 200px;
}

#nav .dot {
  fill: white;
  stroke: gray;
  cursor: pointer;
}
#nav .dot.active {
  fill: gray;
}

#viz {
  position: fixed;
  left: 380px;
  top: 80px;
}
