body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

#wrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#narrative {
  width: 330px;
  padding-left: 20px;
}

#narrative header {
  position: fixed;
  width: 100%;
  padding: 20px;
  top: 0;
  background: black;
  color: white;
  margin: 0;
}

#narrative section {
  margin-bottom: 200px;
}

#nav circle {
  fill: white;
  stroke: gray;
  cursor: pointer;
}
#nav circle.active {
  fill: gray;
}

#viz {
  position: fixed;
  left: 360px;
  top: 50px;
}
