# incidental files, never required for check-in
.DS_Store
.ipynb_checkpoints
# packaging / dev artifacts
node_modules
jspm_packages/*/**
jspm
# build products reqd for staging (gh-pages branch)
#build.js*
